body {
  background-image: url(../img/cork-board.jpg);
  background-position: top;
  background-repeat: repeat-x;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-family: 'Barrio', cursive;
  color: #51473d;
}

.photo {
  position: relative;
  top: 150px;
  left: 150px;
  /*border: purple;*/
}

.harry2 {
  position: absolute;
  top: 350px;
  left: 20px;
}

.harry {
  position: absolute;
  left: 8px;
}

#bigfoot {
  width: 110%;
}

.polaroid {
  position: absolute;
  top: -100px;
  left: -90px;
}

.pin {
  position: absolute;
  top: -100px;
}

.sharpie {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  top: 640px;
  left: 150px;
}

#note {
  font-size: 60px;
}

#harry {
  width: 83%;
}
